USE [Sala]
GO
/****** Object:  User [alumno]    Script Date: 2/9/2026 08:56:59 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[partida]    Script Date: 2/9/2026 08:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partida](
	[idPartida] [int] NOT NULL,
	[nombreParticipante] [varchar](50) NOT NULL,
	[inicio] [datetime] NOT NULL,
	[fin] [datetime] NOT NULL,
	[salaActual] [int] NOT NULL,
	[vidasRestantes] [int] NOT NULL,
	[finalizado] [bit] NOT NULL,
	[gano] [bit] NOT NULL,
 CONSTRAINT [PK_partida] PRIMARY KEY CLUSTERED 
(
	[idPartida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pista]    Script Date: 2/9/2026 08:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pista](
	[idPista] [int] NOT NULL,
	[idSala] [int] NOT NULL,
	[numeroPista] [int] NOT NULL,
	[texto] [varchar](250) NOT NULL,
 CONSTRAINT [PK_pista] PRIMARY KEY CLUSTERED 
(
	[idPista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pistas usadas]    Script Date: 2/9/2026 08:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pistas usadas](
	[IdPistaUsada] [int] NOT NULL,
	[idPartida] [int] NOT NULL,
	[idPista] [int] NOT NULL,
 CONSTRAINT [PK_pistas usadas] PRIMARY KEY CLUSTERED 
(
	[IdPistaUsada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[respuestas]    Script Date: 2/9/2026 08:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[respuestas](
	[idRespuesta] [int] NOT NULL,
	[idPartida] [int] NOT NULL,
	[idSala] [int] NOT NULL,
	[intento] [varchar](100) NOT NULL,
	[esCorrecto] [bit] NOT NULL,
 CONSTRAINT [PK_respuestas] PRIMARY KEY CLUSTERED 
(
	[idRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salas]    Script Date: 2/9/2026 08:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salas](
	[idSala] [int] NOT NULL,
	[nombreSala] [varchar](100) NOT NULL,
	[orden] [int] NOT NULL,
	[descripcion] [varchar](1000) NOT NULL,
	[respuestaEsperada] [varchar](100) NOT NULL,
	[imagenes] [nvarchar](260) NOT NULL,
 CONSTRAINT [PK_salas] PRIMARY KEY CLUSTERED 
(
	[idSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[partida]  WITH CHECK ADD  CONSTRAINT [FK_partida_salas] FOREIGN KEY([salaActual])
REFERENCES [dbo].[salas] ([idSala])
GO
ALTER TABLE [dbo].[partida] CHECK CONSTRAINT [FK_partida_salas]
GO
ALTER TABLE [dbo].[pista]  WITH CHECK ADD  CONSTRAINT [FK_pista_salas] FOREIGN KEY([idSala])
REFERENCES [dbo].[salas] ([idSala])
GO
ALTER TABLE [dbo].[pista] CHECK CONSTRAINT [FK_pista_salas]
GO
ALTER TABLE [dbo].[pistas usadas]  WITH CHECK ADD  CONSTRAINT [FK_pistas usadas_partida] FOREIGN KEY([idPartida])
REFERENCES [dbo].[partida] ([idPartida])
GO
ALTER TABLE [dbo].[pistas usadas] CHECK CONSTRAINT [FK_pistas usadas_partida]
GO
ALTER TABLE [dbo].[pistas usadas]  WITH CHECK ADD  CONSTRAINT [FK_pistas usadas_pista] FOREIGN KEY([idPista])
REFERENCES [dbo].[pista] ([idPista])
GO
ALTER TABLE [dbo].[pistas usadas] CHECK CONSTRAINT [FK_pistas usadas_pista]
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD  CONSTRAINT [FK_respuestas_partida] FOREIGN KEY([idPartida])
REFERENCES [dbo].[partida] ([idPartida])
GO
ALTER TABLE [dbo].[respuestas] CHECK CONSTRAINT [FK_respuestas_partida]
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD  CONSTRAINT [FK_respuestas_salas] FOREIGN KEY([idSala])
REFERENCES [dbo].[salas] ([idSala])
GO
ALTER TABLE [dbo].[respuestas] CHECK CONSTRAINT [FK_respuestas_salas]
GO
